<div class="text-center">
  <h2 class="blogPostContent">{{title}} </h2>
  <p class="blogPostContent">{{content}}</p>
  <p class="blogPostContent">Created by {{user.name}} on {{date_created}}</p>
    {{!-- add second button - one to edit, one to delete --}}
    <button class="btn btn-primary">Fund this Project!</button>
  </>
</div>

{{!-- loop and render the comments, only one post(content) --}}

    <main>
      <section>
        {{#each comments as |comment| }}
        <article>
          <div>
            <p>
              {{comment.content}}
              <p class="commentLine"> {{comment.user.name}} </p>
              <p class="commentLine"> {{comment.date_created}} </p>
            </p>
          </div>
        </article>
        {{/each}}
      </section>
    </main>