<div class="text-center">
  <h2 class="dashboardContent">{{title}} </h2>
  <p class="dashboardContent">{{content}}</p>
  <p class="dashboardContent">Created by {{user.name}} on {{date_created}}</p>
    {{!-- add second button - one to edit, one to delete --}}
    <div class="form-group blogpost">
      <label for="blogpost-input">Add Your New Blog Post Below!</label>
      <input class="form-input" type="blogpost" id="blogpost-input" />
  </div>
    <button class="btn btn-primary" id="blogpost-button">Save Blog Post</button>
</div>

{{!-- loop and render the blogposts, only one post(content) --}}
<main>
  <section>
    {{#each blogposts as |blogpost| }}
    <article>
      <div>
        <p>
          {{blogpost.content}}
          <p class="blogpostLine"> {{blogpost.user.name}} </p>
          <p class="blogpostLine"> {{blogpost.date_created}} </p>
        </p>
      </div>
    </article>
    {{/each}}
  </section>
</main>

<script src="/js/dashboard.js"></script>